<body>
<div class="backmid">
<hr />
<form>
  <h4>Cadastro de serviço</h4>
  <br />
  <button [routerLink]="['/cadastro-servico']">Cadastrar Serviço</button>
  
  <div class="backmid">
    <table>
      <thead>
        <tr>
          <th>Serviço</th>
          <th>Duração</th>
          <th>Valor</th>
          <th colspan="2">Opções</th>
        </tr>
      </thead>
      <tbody *ngIf="listaServicos && listaServicos.length">
        <tr *ngFor="let servico of listaServicos">
          <td>{{servico.Nome}}</td>
          <td>{{servico.Duracao}}</td>
          <td>R$ {{servico.Valor}}</td>
          <td>
          <div class="btn-group">
            <button class="btn btn-sm btn-success" (click)="editarServico(servico)">
              Editar
            </button>
            <button class="btn btn-sm btn-danger" (click)="excluirServico(servico)">
              Excluir
            </button>
          </div>
        </td>
        </tr>
      </tbody>
    </table>
  </div>

</form>
</div>
</body>